.chatHeaderContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4B5380;
    border-radius: 5px 5px 0 0;
    height: 80px;
    flex-basis: 0;
    flex-grow: 2;
}

.chatInfo {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #526F8A;
}

.lastMessageTime {
    padding: 10px;
    background-color: #526F8A;

}
